.disqus__container {

  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.content h3 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 27px;
  font-weight: 700;
}

.disqus__content {
  width: 650px;
}

.content li ul {
  margin-top: 0;
}
.content li ol {
  margin-top: 0;
}

.content code {
  font-size: 16px;
}

.content a {
  color: rgb(30, 30, 176);
}

.content a:hover {
  text-decoration: underline;
}

.content {
  max-width: 650px;
  color: black;
  margin-right: auto;
  margin-left: auto;
}

.content p {
  font-weight: 400;
  padding: 0;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px
}

.content ul img {
  margin-left: -24px;
}
.content ol img {
  margin-left: -24px;
}

.content img {
  max-width: 650px;
}

.content ul li,
.content ol li {
  margin-left: 24px;
}

.content li {
  padding-top: 10px;
  font-weight: 400; 
}

.content ul p, .content ol p {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 10px
}

.content b {
  font-weight: bold;
}

.content ol li {
  list-style-type: decimal;
}
.content ol li li {
  list-style-type: lower-greek;
}

.content ol, .content ul {
  margin: 20px 0;
}

.content ul li {
  list-style-type: disc;
}

.content ul li li {
  list-style-type: circle;
}

.content ul li, .content ol li {
  font-size: 16px;
}

blockquote {
  margin: 0;
}

@media only screen and (max-width: 759px) {

    .content {
        max-width: none;
        margin: auto
    }

    .content p, .content small, .content ul, .content ol, .content h1, .content h2, .content h3, .content h4, figure {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .content ul p, .content ol p {
      margin-left: 0px
    }

    .content img {
        max-width: 100%;
        margin: 5% 0%;
    }

    .content h1 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .content small {
        font-size: 14px;
    }

}


