@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .invert {
    filter: invert(100%);
  }
  .animate-medium {
    animation: spin 2s linear infinite;
    animation-direction: alternate-reverse;
  }
  .animate-fast {
    animation: spin 2.5s linear infinite;
    animation-direction: alternate-reverse;
  }
  .animate-slow {
    animation: spin 3s linear infinite;
    animation-direction: alternate-reverse;
  }
  .rgb {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5), 10px 10px rgba(0, 0, 0, 0.3),
      15px 15px rgba(0, 0, 0, 0.2);
  }
}

html {
  font-weight: 300;
  font-size: 18px;
  font-family: sans-serif;
}

pre code span {
  font-size: 14px;
  font-weight: 200;
}

pre {
  border-radius: 10px;
}

pre span.comment.linenumber {
  margin-left: -5px;
}

pre {
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
ol li,
ul li {
  margin-left: 23px;
}

li {
  padding-top: 0 !important;
}

ol,
ul {
  margin-top: -5px !important;
}

@keyframes spin {
  from {
    color: white;
    background-color: green;
    border-color: green;
  }
  to {
  }
}
