.container {
    height: 100%;

    display: flex;
    justify-content: center;
    text-align: left;
}

.container p {
    padding-top: 0;
    font-size: 22px;
    line-height: 1.5;

}

.container h1, .container h2 {
    text-align: left;
    padding-top: 36px
}

.container li {
    padding-bottom: 5px;
}

.container ul {
    margin-bottom: 27px;
    font-size: 22px;
    line-height: 1.5;
}

.intro {
    max-width: 720px;
}

@media screen and (max-width: 1000px) {

.container {
    padding: 0vh 5% 5vh 5%;
}


}
@media screen and (max-width: 759px) {

.container h2 {
    font-size: 36px;
}


}