.container {
  display: inline-block;
  justify-content: center;
  background-color: white;
  color: black;
  width: 34vw;
  height: 100%;

}

.excerpt {
  display: none;
}

.subcontainer {
  display: flex;
  height: 100%;
  padding: 13%;
  transition: all 0.1s ease-out;
  
}

.title {
  margin-top: 0;
}

.writtenByDate {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 0;
}

.img {
display: none;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0;

}


.subcontainer:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px 0px;
}

.title {
  margin-bottom: 2rem;
  
}

.subtitle {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1300px) {
  
  .container {
    min-height: 400px;
  }
  
  .excerpt {
    
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {

    padding: 0;
    margin: 2rem;
  }

  .writtenByDate {
    margin-bottom: 4px;
    font-size: 16px;

  }

  .date {
    display: none;
  }



  .img {
    display: none;
  }

  .subcontainer:hover {
    box-shadow: none;
  }
  

  .subcontainer {
    padding: 0;
  }

  .title {
    margin-bottom: 30px;
  }

}


@media only screen and (max-width: 759px) {

  .container {
    width: 100%;
    min-height: 100%;
    margin: 1rem 0
  }
  .title {
    margin: 20px 0;
  }

  .writtenByDate {
    margin-bottom: 20px;
  }
}