@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-weight: 300;
  font-size: 18px;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
ol li,
ul li {
  margin-left: 23px;
}

li {
  padding-top: 0 !important;
}

ol,
ul {
  margin-top: -5px !important;
}
