
.container {
    height: 80vh;
    width: 30vw;
    position: relative;
    background: white;
    cursor: pointer;
    border: 1vw solid white;
    transition: all 0.4s ease;
}

.container:hover {
    width: 32vw;
}

.container__img {
    position: absolute;
    height: 80vh;
    width: auto;
    object-fit: cover;
}

.container__img:hover {
    filter: none;
}

a {
    color: black;
    text-decoration: none;
}

.container__content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content__texts {
    background: rgba(255, 255, 255, 0.93);
    margin: 3rem;
    padding: 3.5rem;
    width: 400px;
}

.texts__title {
    font-weight: 700;
    text-decoration: underline;
}

.texts__date {
    margin-bottom: 1rem;
}

p.link-more {
    display: none;
}

.texts__text {
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

.texts__read {
    padding: 0.5rem 1rem;
    background: black;
    border: 1px solid black;
    color: white;
}

.texts__read:hover {
    color: black;
    background: white;
    border: 1px solid black;
    cursor: pointer;
}

@media only screen and (max-width: 1600px) {
    .container {
        width: 46vw;
    }
    .container:hover {
        width: 49vw;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 70vw;
    }
}