.container {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    padding: 0 10%;
    margin: 0;
}

.subcontainer {
    display: flex;

    height: 100%;
    padding: 7%;
    transition: all 0.1s ease-out;
    max-width: 1100px;
}

.writtenByDate {
    margin-top: 0;
    margin-bottom: 27px;
    padding-top: 0;
}

.img {
    margin-right: 5%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-top: 0;
    margin-bottom: 0;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0;

    
}

.subcontainer:hover {
    box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 40px 0px;
}

.title {
    margin-bottom: 2rem;
    margin-top: 0;
}

.subtitle {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 700px) {

    .container {
        min-height: none;
        display: flex;
        justify-content: center;
        padding: 0 5%;
        margin: 0;
    }

    .subcontainer {
        padding: 5% 0%;
    }

    

    .title {
        margin-bottom: 27px;
    }

}