.container {
  display: flex;
  justify-content: center;
  margin: 0;
}

.subcontainer {
  display: flex;
  height: 100%;
  padding: 80px 0;
  transition: all 0.1s ease-out;
  max-width: 640px;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.date {
  color: rgb(92, 92, 92);
}

.writtenByDate {
  margin-top: 0;
  margin-bottom: 9px;
  padding-top: 0;
}

.img {
  margin-right: 5%;
  max-height: 420px;
  max-width: 420px;
  padding-top: 0;
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0;
}


.title {
  margin-bottom: 2rem;
  margin-top: -11px;
  text-decoration: underline;
}

.subtitle {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1300px) {



  .title {
    margin-bottom: 30px;
    line-height: 1.25;
    margin-top: -9px;
  }
  .excerpt {
    font-size: 20px;
  }
}

.subcontainer {
  margin: 0 5%;
}

@media only screen and (max-width: 650px) {
  .title {
    margin-bottom: 18px;
  }

  .writtenByDate {
    margin-bottom: 18px;
  }
  .subcontainer {
    margin-left: 5%;
    margin-right: 5%;
  }
  .excerpt {
    font-size: 16px;
  }
}