.container {
    min-height: 80vh;
    display: flex;
    padding: 0 16rem 5rem 16rem;
    margin: 0 0 5rem 0;
}

.subcontainer {
    display: flex;
    padding: 5rem 5rem;
    margin: 0 20vw;
    transition: all 0.1s ease-out;
    justify-content: center;
}

.content a {
    text-decoration: none !important;
}

.img {
    height: 60vh;
    width: 450px;
    object-fit: cover;
}

.content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 4rem;
}

.subcontainer:hover {
    box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 40px 0px;
    height: 10% !important;
}

.title {
    margin: 1rem 0 2rem 0;
}

.subtitle {
    margin-bottom: 1rem;
}

