

.container {
    background-color: white;
    display: flex;
    height: 93vh;
    color: black;
}

.leftcontainer__img {
    height: 100%;
    width: 50vw;
    background-image: url(./images/hero1.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 20%;
    filter: grayscale();
    transform: scaleX(-1);
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 0  0 250px;
    background-color: black;
    
}

.imgcontainer {
    background-color: black;
}

.container__rightcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 400px 0;
}

.rightcontainer__textcontainer {
    text-align: center;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textcontainer__subtitle {
    padding: 0;
}

.textcontainer__title {
    max-width: 600px;
    margin: 0;
    line-height: 1;
}

.textcontainer__text {
    max-width: 450px;
}

.right__btncontainer {
    padding-top: 1rem;
    display: wrap;
    justify-content: space-between;
    width: 600px;
}

.btn {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.btn:hover {
    color: white;
    background-color: black;
}