
.section {
    width: 50%;
    max-width: 720px;
    margin-top: -3rem;
}
.btn {
    margin-left: 0;
}

.inputDiv {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.field, .textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 0;
}

.textarea {
    min-height: 170px;
    border: 1px solid rgba(128, 128, 128, 0.37);
}

.label {
    padding: 0;
    font-size: 20px;
}