.container {
  display: flex;
  align-items: center;
  height: 12vh;
  width: 100%;
  z-index: 2;
  position: relative;
}

.mainNav {
  transition: all 300ms ease;
}

.subcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  /* display: none; */
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height: 12vh;
  align-items: center;

}

.logocontainer {
  width: 50vw;
  height: 100%;
  flex: 1;
  height: 12vh;
  display: flex;
  align-items: center;
  padding-left: 5vw;
  /* display:none; */

}

.tagline p {
  margin: 0;
  padding: 0;
  display: none;
}

.list {
  padding: 0;
  margin-right: 10vw;
  
  }

.burgerMenu {
  display: none;
}

.logo {
  display: none;
}

.list p {
  display: inline;
  padding: 0;
  font-size: 16px;
  margin-left: 3vw;
}

.link__active {
  border-bottom: 2px solid black;
}


@media only screen and (max-width: 1000px) {

  .mainNav {
    display: none;
  }

  .subcontainer {
    width: 520px;
  }

  .logo {
    display: block;
    width: 65%;
    padding-top: 0;
    margin: 0;
  }

  .list {
    display: none;
  }

  .logocontainer {
    flex: 2;
  }

  .imgcontainer {
    margin: 0;
  }

  .img {
    margin: 0;
  }

  .nav {
    flex: 1;
    height: 100%;
  }
  
  .burgerMenu {
    display: block;
    border: 1px solid rgb(0, 0, 0);
    height: 100%;
  }

  .burgerMenu p {
    display: block;
    padding: 0;
    margin: 0;
  }

}
