.container {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container ul {
  display: flex;
}

.logo {
  display: none;
}

.nav p {
  margin-bottom: 0;
  padding-top: 0;
}

.nav ul {
  list-style-type: none;
}

.nav a {
  display: inline-block;
  padding: 0;
  margin-right: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.nav {
  display: wrap;
  margin-right: 3vw;
}

.link__active {
 border-bottom: 2px solid black;
}

.link__inactive:hover {
  
}

@media only screen and (max-width: 1000px) {
  .logo {
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }
  .container {
    flex-direction: column;
    align-items: center;
    position: relative;
  }



.ul__first, .ul__second {
    max-width: 200px;
    margin-top: 20px;
  }

  .nav {
    width: 60%;
    display: flex;
    justify-content: center;
    min-width: 500px;
  }

  .nav ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 200px;
    max-width: 300px;
  }

  .nav p {
    margin-bottom: px;
    margin-top: 15px;
    
  }

  .nav a {
    margin-right: 5%;
  }

  .link__active {
    border-top: none;
  }
  
}
