.emailListForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  background: black;
  color: white;

  font-family: -apple-system, Helvetica, Arial, sans-serif;
  padding: 7vw 10%;
}

.thankYou {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
}
.subtitle {
  margin-top: 0;
  margin-bottom: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 580px;
  margin-bottom: 20px;
}

.emailListForm input {
  color: #2a2a2a;
  width: 100%;
  border: none;
}

.emailListForm button,
.emailListForm input {

  margin-bottom: 0;
  padding: 12px 1rem;
  font-size: 18px;

}

.emailListForm button {
  display: inline-block;
  width: 5rem;
  min-width: 160px;
  border: none;
  color: #76eba5;
  letter-spacing: 1px;
  transition: all 0.1s linear;
  background: black;
  border: 2px solid #76eba5;
}
.emailListForm button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .title {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .emailListForm button,
  .emailListForm input {
    padding: 8px 1rem;
    height: auto;
    font-size: 16px;
  }
  .wrapper {
    max-width: 60vw;
    min-width: 45vw;
  }
}

@media screen and (max-width: 1000px) {
  .emailListForm button,
  .emailListForm input {
    padding: 8px 12px;
    height: auto;
    font-size: 16px;
  }
  .wrapper {
    width: 90%;
  }
  .wrapper button {
    min-width: 115px; 
  }
}

@media screen and (max-width: 759px) {

  .emailListForm {
    padding: 5%;
  }

  .title {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .subtitle {
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 1.5rem;
  }


}
