.emailListForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  background: black;
  color: white;

  font-family: -apple-system, Helvetica, Arial, sans-serif;
  padding: 6vw 15vw;
}

.thankYou {
  
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
}
.subtitle {
  margin-top: 0;
  margin-bottom: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.emailListForm input {
  color: #2a2a2a;
  width: 100%;
  border: none;
}

.emailListForm button,
.emailListForm input {
  padding: 0.8rem 1.5rem;
  height: auto;
  margin-bottom: 0;
}

.emailListForm button {
  display: inline-block;
  width: 30%;
  min-width: 141px;

  border: none;
  background-image: none;
  background-color: orange;
  color: white;

  letter-spacing: 1px;
  transition: all 0.1s linear;
}
.emailListForm button:hover {
  cursor: pointer;
  background: darken(orange, 15%);
}


@media screen and (max-width: 1000px) {
  .emailListForm button,
  .emailListForm input {
    padding: 0.5rem 1rem;
    height: auto;
    font-size: 16px;
  }
  .wrapper {
    width: 90%;
  }
  .wrapper button {
    min-width: 115px; 
  }
}

@media screen and (max-width: 759px) {

  .emailListForm {
    padding: 5%;
  }

  .title {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .subtitle {
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 1.5rem;
  }


}
